.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid blue;
  padding: 10px;
}

.video {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  width: 90%;
}

figcaption {
  text-align: center;
}

.oldSchool {
  filter: grayscale(100%);
  border: 5px double grey;
  border-radius: 20px;
  width: 75%;
}

button {
  flex-basis: 200px;
  margin-bottom: 5px;
  font-size: 125%;
}
